{% extends 'base.html' %}

{% block title %}{{ book }}{% endblock %}

{% block content %}
<div class="container mb-4">
  <h2>{{ text }}</h2>
  <div class="d-flex justify-content-between">
    <div class="description-container d-flex flex-column justify-content-between" id="book-info">
      <div>
        <p><strong>{{ book.title }}</strong></p>
        <ul class="ps-0">
          <li><span><b>Genre:</b> {{ book.genre }}</span></li>
          <li><span><b>Author:</b> {{ book.author }}</span></li>
          <li><span><b>Publisher:</b> {{ book.publisher }},
              {{ book.publisher.city }}</span></li>
          <li><span><b>Year:</b> {{ book.year }}</span></li>
          <li><span><b>Pages:</b> {{ book.pages }}</span></li>
          <li><span><b>Annotation:</b> {{ book.description }}</span></li>
          {% if book.in_stock %}
          <li><span><b>Available now.</b> </span>
            {% endif %}
          </li>
        </ul>
      </div>
      <div>
        <a href="#" class="btn">Add to Cart</a>
      </div>
    </div>
    <div class="img-container pt-3">
      <img class="img-detail" src="{{ book.cover.url }}" alt="{{ book.title }} cover">
    </div>
  </div>

</div>

{% comment %} {% if user.is_authenticated %}
<div class="description-container">
  <div class="col-6 px-2">
    <div class="contact-single">
      <h3 class="mt-2">
        <strong>Залишити відгук</strong>
      </h3>
      <form action="#" method="post" class="mt-4 px-1" id="formReview">
        {% csrf_token %}
        <div class="form-group editContent" style="outline: none; cursor: inherit;">
          <label for="contactcomment" class="editContent"
            style="outline: none; cursor: inherit;">Ваш коментар*
          </label>
          <textarea class="form-control border" rows="5" name="text" id="contactcomment"
            required=""></textarea>
        </div>
        <div class="d-sm-flex justify-content-between">
          <button type="submit" class="mt-2 btn btn-primary btn-block"
            style="outline: none; cursor: inherit;">Відправити
          </button>
          <div class="col-sm-2 form-group p-0 editContent" style="">
            <input type="hidden" class="form-control border" name="customer"
              value="{{ customer.pk }}" required>
          </div>
          <div class="col-sm-2 form-group p-0 editContent" style="">
            <input type="hidden" class="form-control border" name="book" value="{{ book.pk }}"
              required>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% endif %}

  <div class="col-6 px-2">
    {% for comment in book.comment_set.all %}
    <div class="media mt-2 py-3 px-1">
      <div class="row">
        <div class="col-md-auto">
          <img src="/static/books/icons/comment.png" class="img-fluid" alt="image"
            style="float: left; width: 45px; height: 45px;">
        </div>
        <div class="col-10">
          <div class="media-body">
            <h5 class="mt-0 editContent">{{ comment.customer }}</h5>
            <p class="mt-2 editContent">{{ comment.text }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div> {% endcomment %}
{% endblock %}