{% extends 'base.html' %}

{% block title %}{{ book }}{% endblock %}

{% block content %}
<div class="container mb-5">
  <h2>{{ text }}</h2>
  <div class="d-flex justify-content-between">
    <div class="description-container d-flex flex-column justify-content-between" id="book-info">
      <div>
        <p><strong>{{ book.title }}</strong></p>
        <ul class="ps-0">
          <li><span><b>Genre:</b> {{ book.genre }}</span></li>
          <li><span><b>Author:</b> {{ book.author }}</span></li>
          <li><span><b>Publisher:</b> {{ book.publisher }},
              {{ book.publisher.city }}</span></li>
          <li><span><b>Year:</b> {{ book.year }}</span></li>
          <li><span><b>Pages:</b> {{ book.pages }}</span></li>
          <li><span><b>Annotation:</b> {{ book.description }}</span></li>
          {% if book.in_stock %}
          <li><span><b>Available now.</b> </span>
            {% endif %}
          </li>
        </ul>
      </div>
      <div>
        <a href="{% url 'add_to_cart' book.pk %}" class="btn">Add to Cart</a>
      </div>
    </div>
    <div class="img-container pt-3">
      <img class="img-detail" src="{{ book.cover.url }}" alt="{{ book.title }} cover">
    </div>
  </div>

</div>

{% include "comments/comments.html" %}

{% endblock %}