{% extends 'base.html' %}

{% block title %}BookStore{% endblock title %}

{% block content %}
<div class="container mb-4">
  <h2>{{ text }}</h2>
  <div class="d-flex flex-row flex-wrap ">

    {% comment %} displays list of books {% endcomment %}
    {% for book in page_obj %}
      <div class="col mb-4">
        <div class="card">
          <img src="{{ book.cover.url }}" class="card-img" alt="{{ book.title }} cover">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'about_book' book.slug %}">{{ book.title }}</a>
            </h5>
            <p class="card-text">{{ book.author }}</p>
            <p class="card-text">{{ book.genre }}</p>
            <div class="row">
              <div class="col">
                <a href="{% url 'add_to_cart' book.pk %}" class="btn">Add to Cart</a>
              </div>
              <div class="col">
                <h5 class="card-text text-end">${{ book.get_price|floatformat:2 }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
{% include 'books/pagination.html' %}
{% endblock content %}